.container{
    background-color: #000000;
    height: 100vh;
    padding: 10px;
}
h5{
    color: #ffffff;
    padding-left:30px ;
}

.form{
    color:#ffffff;
    display: flex;
    justify-content: space-around;
}


input{
    background-color: #000000;
    color:#ffffff;
    width: 200px;
    margin-top: 10px;
}
#btn{
    padding: 30px;
}
.employee{
    color: #ffffff;
    padding-left:30px ;
}
#msg{
     color:#FF4343;
    padding: 30px;
}